.main {
  display: flex;
}

.imgMaison {
  display: flex;
  flex: 0 1 auto;
  max-height: 935px;
  margin: -8px;
}

.logoImg {
  display: flex;
  width: auto;
  height: fit-content;
  margin-top: 30px;
}

.form {
  display: block;
  margin: 20px;
}

.signIn {
  display: block;
  font-family: "Roboto";
  font-size: 80px;
  color: #707070;
  margin-top: 110px;
  margin-left: 250px;
  margin-bottom: 200px;
  margin-right: 110px;
}

input {
  display: block;
  border:#707070 solid 1px;
  border-radius: 18px;
  width: 500px;
  height: 80px;
  font-size: 48px;
  padding-left: 25px;
  margin-bottom: 50px;
  margin-left: 140px;
}

input::placeholder {
  color: var(--grey4);
  font-family: 'Roboto';
  font-size: 48px;
}

.text {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 32px;
  color: #707070;
  margin-left: 220px;
}

.btn {
  display: block;
  background-color: #a24611;
  border-radius: 50px;
  color: white;
  width: 332px;
  height: auto;
  margin-top: 55px;
  margin-left: 200px;
  padding: 10px;
  font-size: 48px;
  font-family: 'Roboto';
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
