<div class="main">
  <img
    class="imgMaison"
    src="../../../assets/illustration/images/maison_modulaire_login.png"
  />
  <div class="form">
    <label class="signIn">Sign In</label>
    <input type="email" placeholder="Email" name="email" />
    <input type="password" placeholder="Password" name="password" />
    <a class="text">Forgot your password ?</a>
    <a href="/dashboard" class="btn">SIGN IN</a>
  </div>
  <img
    class="logoImg"
    src="../../../assets/illustration/logos/logo_image_madera.png"
  />
</div>
