/* Spécificités au composant statisticBar */
app-statistic-bar .ant-divider {
    grid-column: 1 / 3;
    margin: 0 calc(-1 * var(--space6));
    width: calc(100% + var(--space12));
}

@media screen and (min-width: 1280px) {
    app-statistic-bar .ant-divider {
        grid-column: auto;
        height: calc(100% + var(--space8));
        margin: calc(-1 * var(--space4)) 0;
        top: 0;
        width: 1px;
    }
}
