.formItem-horizontal {
    align-items: center;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}

.formItem-horizontal > nz-form-label {
    margin-right: 8px !important;
    padding: 0 !important;
}

/* Evite que les libellés sur plusieurs lignes soient tronqués */
.ant-form-item-label > label {
    height: auto;
    min-height: min-content;
}
