/* L'input number n'est pas conçus pour fonctionner dans un input-group
    ce paliatif permet de gérer le cas ou il y a un addOn à droite et un addOn des deux côtés..*/
.ant-input-group-wrapper .ant-input-number:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ant-input-group-wrapper * + .ant-input-number {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
