/*
Dans le cas ou l'on souhaite plusieurs lignes de textes à droite du bouton radio,
le comportement de base ajoute deux span inline au dom pour contenir le bouton
et le contenu. Cette classe permet de changer ce comportement
*/

.radioGroup-multiline {
    display: block;
}

.radioGroup-multiline .ant-radio-wrapper {
    display: flex;
    align-items: flex-start;
}

.radioGroup-multiline .ant-radio-wrapper > span.ant-radio {
    display: block;
    flex: 0 0 auto;
}

.radioGroup-multiline .ant-radio-wrapper > span.ant-radio + span {
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
}