/* Permet de forcer l'ellipsis et ainsi le select respect la taille donnée */
app-statistic-bar .ant-select {
    width: 100%;
}

/* adapte les marges du divider dans la dropdown du select */
.ant-select-dropdown .ant-divider {
    margin: var(--space1) 0;
}

/* option supplémentaire dans le select (ajouté via le nzDropdownRender) pour ajouter un item à la liste */
.appSelect_addItem {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: var(--space2);
}

.appSelect_addItem > [nz-icon] {
    color: (--neutral4);
    flex: 0 0 auto;
    margin-right: var(--space2);
}

.appSelect_addItem > [nz-icon] + * {
    flex: 1 1 auto;
}

.select-optionMultiLine .ant-select-dropdown-menu-item {
    white-space: initial;
}

/* Permet de gérer les labels trop long qui agrandiraient la taille du select */
.select-withInfoIcon {
    /* Le 22px correspond à la taille de l'icon "info-circle" (14px) + un marginLeft de 8px */
    width: calc(100% - 22px);
}
