<a href="/dashboard">Dashboard</a>
<br>
<button class="buttonBack">< Back</button>
<br>
<input class="inputForm" type="email" placeholder="Email" name="email" >
<br>
<button class="buttonAdd">Add User</button>
<br>
<button class="buttonSave">SAVE</button>
<br>
<button class="buttonCancel">CANCEL</button>
<br>
<div class="cardUser">
    <img src="../../../assets/icon/icon_user.png">
    <p>Jeff Statom</p>
    <h2>Commercant</h2>
</div>

<form class="form">
    <div>
        <label for="fname" class="labelForm">Full Name</label>
        <input class="inputForm" type="text" placeholder="Enter your name" name="fname">
    </div>

    <div>
        <label for="femail" class="labelForm">Email</label>
        <input class="inputForm" type="email" placeholder="Email" name="femail">
    </div>
 
</form>