<div class="card">
    <div class="card-main">
    <i class="fas fa-users"></i>
    <div class="card-content">
        <div class="card-nomber">
            <h1>Employees</h1>
            <h2>124</h2>
        </div>
        <p>Total</p>
    </div>
</div>
<div class="card-main">
    <i class="fas fa-shopping-cart"></i>
    <div class="card-content">
        <div class="card-nomber">
            <h1>Sold</h1>
            <h2>20</h2>
        </div>
        <p>Total</p>
    </div>
</div>
<div class="card-main">
    <i class="fas fa-file-contract"></i>
    <div class="card-content">
        <div class="card-nomber">
            <h1>Devis</h1>
            <h2>28</h2>
        </div>
        <p>Total</p>
    </div>
</div>
</div>