/* mise en place des séparateurs entre les items, normalement le sélecteur
   a utilisé est : app-card-footer-item + app-card-footer-item::before
   mais comme la nz-tooltip créée un élément DOM en plein milieu, ça ne fonctionne plus,
   donc il faut inverser la logique est rajouter un séparateur si on n'est pas le 1er élément */
app-card-footer-item:not(:first-child)::before {
    background-color: var(--gray1);
    content: '';
    height: var(--space6);
    left: -0.5px;
    position: absolute;
    width: 1px;
}

app-card-footer-item a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

app-card-footer-item [nz-icon] {
    color: var(--linkSecondaryColor);
    transition: color 0.3s ease;
}

app-card-footer-item:hover [nz-icon] {
    color: var(--linkSecondaryHoverColor);
}

.cardFooterItem-disabled a,
.cardFooterItem-disabled:hover a,
.cardFooterItem-disabled [nz-icon],
.cardFooterItem-disabled:hover [nz-icon] {
    color: var(--gray1);
}
