/* Gestion des liens dans les titres */
.cardCell-title a,
.cardCell-subTitle a {
    color: inherit;
}

.cardCell-title a:focus,
.cardCell-title a:hover,
.cardCell-subTitle a:focus,
.cardCell-subTitle a:hover {
    color: var(--linkPrimaryHoverColor);
}

/* Spécificités suivant la position de cardCell (1ère ou dernière position) */
app-card-cell:first-child {
    margin-top: 0;
}

.card-tabular app-card-cell:first-child {
    padding-left: var(--cardIndent);
}

.card-tabular app-card-cell:first-child .cardCell_inner {
    border-bottom-left-radius: var(--cardBorderRadius);
    border-top-left-radius: var(--cardBorderRadius);
    padding-left: var(--cardPaddingLeft) !important;
}

.card-tabular app-card-cell:last-child .cardCell_inner {
    padding-right: var(--cardPadding) !important;
}

.card-withActions:not(.card-tabular) app-card-cell:first-child {
    padding-right: calc(
        var(--cardActionsSize) + var(--cardActionsOffset) - var(--cardPadding)
    );
}
