.univers_indicator,
.univers_isSended {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

.univers_indicator {
    height: var(--space4);
    width: var(--space4);
    border-radius: 50%;
}

.univers_indicatorIcon {
    font-size: 8px;
}

.univers_indicator-sansCompte {
    background-color: var(--primary2);
}

.univers_indicator-sansCompte .univers_indicatorIcon {
    color: var(--primary1);
}

.univers_indicator-avecCompte {
    background-color: var(--green2);
}

.univers_indicator-avecCompte .univers_indicatorIcon {
    color: var(--green1);
}

.univers_indicator-compteExpire {
    background-color: var(--red2);
}

.univers_indicator-compteExpire .univers_indicatorIcon {
    color: var(--red1);
}
