.textLeft {
    text-align: left !important;
}

.textCenter {
    text-align: center !important;
}

.textRight {
    text-align: right !important;
}

.textBold {
    font-weight: bold !important;
}

.textSemiBold {
    font-weight: 600 !important;
}

.textNormal {
    font-weight: normal !important;
}

.textBlack {
    color: var(--black) !important;
}

.textLight {
    color: var(--neutral4) !important;
}

.textHighlight {
    background-color: var(--yellow2) !important;
}

.textPrimary {
    color: var(--primary1) !important;
}

.textError {
    color: var(--red1) !important;
}

.textSuccess {
    color: var(--green3) !important;
}

.textWarning {
    color: var(--orange1) !important;
}

.textNoWrap {
    white-space: nowrap !important;
}

.textItalic {
    font-style: italic !important;
}

.textUpperCase {
    text-transform: uppercase !important;
}

.whiteSpaceNormal {
    white-space: normal !important;
}

.textEllipsis {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.textCondensed {
    font-family: var(--fontFamilyCondensed) !important;
}

.userSelectNone {
    user-select: none !important;
}

.linkPrimary {
    color: var(--linkPrimaryColor) !important;
    transition: color 0.3s ease !important;
}

.linkPrimary:hover,
.linkPrimary:focus {
    color: var(--linkPrimaryHoverColor) !important;
}

.linkSecondary {
    color: var(--linkSecondaryColor) !important;
    transition: color 0.3s ease !important;
}

.linkSecondary:hover,
.linkSecondary:focus {
    color: var(--linkSecondaryHoverColor) !important;
}

.linkTertiary {
    color: var(--linkTertiaryColor) !important;
    transition: color 0.3s ease !important;
}

.linkTertiary:hover,
.linkTertiary:focus {
    color: var(--linkTertiaryHoverColor) !important;
}

.linkHoverOnly {
    color: inherit !important;
}

.linkHoverOnly:focus,
.linkHoverOnly:hover {
    color: var(--linkPrimaryHoverColor) !important;
}

.text8 {
    font-size: var(--text8) !important;
    line-height: var(--text8LineHeight) !important;
}

.text10 {
    font-size: var(--text10) !important;
    line-height: var(--text10LineHeight) !important;
}

.text11 {
    font-size: var(--text11) !important;
    line-height: var(--text11LineHeight) !important;
}

.text12 {
    font-size: var(--text12) !important;
    line-height: var(--text12LineHeight) !important;
}

.text13 {
    font-size: var(--text13) !important;
    line-height: var(--text13LineHeight) !important;
}

.text14 {
    font-size: var(--text14) !important;
    line-height: var(--text14LineHeight) !important;
}

.text16 {
    font-size: var(--text16) !important;
    line-height: var(--text16LineHeight) !important;
}

.text18 {
    font-size: var(--text18) !important;
    line-height: var(--text18LineHeight) !important;
}

.text24 {
    font-size: var(--text24) !important;
    line-height: var(--text24LineHeight) !important;
}

.text32 {
    font-size: var(--text32) !important;
    line-height: var(--text32LineHeight) !important;
}

.text48 {
    font-size: var(--text48) !important;
    line-height: var(--text48LineHeight) !important;
}
