.rotate45 {
    transform: rotate(45deg) !important;
}

.rotate90 {
    transform: rotate(90deg) !important;
}

.rotate180 {
    transform: rotate(180deg) !important;
}

.rotate270 {
    transform: rotate(270deg) !important;
}
