.widthFitContent {
    width: fit-content !important;
}

.width5pct {
    width: 5% !important;
}

.width10pct {
    width: 10% !important;
}

.width15pct {
    width: 15% !important;
}

.width20pct {
    width: 20% !important;
}

.width25pct {
    width: 25% !important;
}

.width30pct {
    width: 30% !important;
}

.width35pct {
    width: 35% !important;
}

.width40pct {
    width: 40% !important;
}

.width45pct {
    width: 45% !important;
}

.width50pct {
    width: 50% !important;
}

.width55pct {
    width: 55% !important;
}

.width60pct {
    width: 60% !important;
}

.width65pct {
    width: 65% !important;
}

.width70pct {
    width: 70% !important;
}

.width75pct {
    width: 75% !important;
}

.width80pct {
    width: 80% !important;
}

.width85pct {
    width: 85% !important;
}

.width90pct {
    width: 90% !important;
}

.width95pct {
    width: 95% !important;
}

.width100pct {
    width: 100% !important;
}
