.menu-header {
    display: flex;
  }
  
  .item-header {
    display: flex;
    flex: 0 0 auto;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    vertical-align: middle;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #f65f08;
    text-decoration: none;
  }
  
  a {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
  }
  
  a {
    position: relative;
    display: block;
    margin-left: 100px;
    font-size: 32px;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #707070;
  }
  
  a::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    bottom: -15px;
    height: 3px;
    width: 100%;
    background-color: #f65f08;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }
  
  a:active::before {
    background-color: #000;
  }
  
  a:hover::before,
  a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }

.item-header .nav_right {
  position: absolute;
  margin: -5px;
  right: 20px;
  top: -20px;
}


.dropbtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  height: 60px;
  width: 100%;
  font-size: 32px; 
  color: white;
  background-color: #f65f08;
  font-family: 'Roboto'; 
  border-radius: 10px 10px 0px 0px;
}

.active {
  color: #f65f08;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #B9B9B9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.27);
  z-index: 1;
}

.dropdown .dropdown-content a {
  margin: 20px;
  color: #B9B9B9;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: white;
}