<div class="menu-header">
    <img
      fxLayout
      fxLayoutAlign="center center"
      src="../../../../../assets/illustration/logos/logo_texte_madera.png"
    />
    <div class="item-header">
      <nav>
        <ul>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Personnels</a>
          </li>
          <li>
            <a href="#">Tickets</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
        </ul>
      </nav>

      <div class="nav_right">
        <div class="dropdown">
          <button class="dropbtn">
            <img style="width: 52px;" src="../../../../../assets/icon/icon_user.png" alt="user">
            <p style="font-size: 32px; font-family: 'Roboto'; margin-left: 20px;">admin</p>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Log Out</a>
          </div>
        </div>
          <!-- <ul>
            <li class="nr_li_origin ">
              <img class="li_main" src="../../../../../assets/icon/icon_user.png" alt="user">
              <p style="font-size: 32px; font-family: 'Roboto'; color: #707070; margin-left: 20px;">admin</p>
            </li>
            <li class="nr_li">
                <div class="dd_menu">
                    <div class="dd_left">
                        <li>
                          <i class="far fa-user"></i>
                        </li>
                        <li>
                          <i class="fas fa-cog"></i>
                        </li>
                        <li>
                          <i class="fas fa-sign-out-alt"></i>
                        </li>
                    </div>
                    <div class="dd_right">
                        <li>Profile</li>
                        <li>Settings</li>
                        <li style="font-size: 30px;">Log Out</li>
                  </div>
                </div>
            </li>
              
            </ul> -->
      </div>
    </div>
  </div>