<div class="menu-header">
    <img
      fxLayout
      fxLayoutAlign="center center"
      src="../../../../../assets/illustration/logos/logo_texte_madera.png"
    />
    <div class="item-header">
      <nav>
        <ul>
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/users" routerLinkActive="active">Users</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">Tickets</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">Settings</a>
          </li>
          <li>
            <a routerLink="#" routerLinkActive="active">Support</a>
          </li>
        </ul>
      </nav>

      <div class="nav_right">
        <div class="dropdown">
          <button class="dropbtn">
            <img style="width: 52px;" src="../../../../../assets/icon/icon_user.png" alt="user">
            <p style="font-size: 32px; font-family: 'Roboto'; margin-left: 20px;">admin</p>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a routerLink="/bacasable">BacASable</a>
            <a routerLink="/login">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>