/* == Déclaration des variables globales == */
html {
    /* == Palette de couleurs == */
    --black1: #000;
    --black1Faded15: hsla(0, 0%, 0%, 0.15);
    --black1Faded4: rgba(0, 0, 0, 0.04);
    --black1Faded5: rgba(0, 0, 0, 0.05);
    --black1Faded65: hsla(0, 0%, 0%, 0.65);

    --blue1: #03c3ec;
    --blue2: #daf8fc;

    --gray1: #e8e8e8;
    --gray2: #fff;
    --gray2Faded10: rgba(255, 255, 255, 0.1);
    --gray2Faded25: rgba(255, 255, 255, 0.25);
    --gray2Faded70: rgba(255, 255, 255, 0.7);
    --gray2Faded90: rgba(255, 255, 255, 0.9);

    --green1: #a7e521;
    --green2: #faffea;
    --green3: #00aa01;

    --link: #2525da;

    --neutral1: #151c2e;
    --neutral2: #1c253d;
    --neutral3: #35425b;
    --neutral3Faded8: rgba(53, 66, 91, 0.08);
    --neutral4: #647390;
    --neutral4Faded50: rgba(100, 115, 144, 0.5);
    --neutral5: #d7e1ea;
    --neutral5Faded25: rgba(215, 225, 234, 0.25);
    --neutral5Faded50: rgba(215, 225, 234, 0.5);
    --neutral5Faded60: rgba(215, 225, 234, 0.6);
    --neutral6: #f0f4f8;
    --neutral7: #f8f8fa;

    --orange1: #ff8a00;

    --pink1: #fd3078;

    --primary1: #5c5fff; /* à synchroniser avec ng-zorro-conf.less */
    --primary2: #f2f2ff;
    --primary2Transparentized: rgba(218, 233, 245, 0.61);
    --primary3: #7d7fff; /* à synchroniser avec ng-zorro-conf.less */
    --primary4: #4043b3;

    --red1: #ff3e1d; /* à synchroniser avec ng-zorro-conf.less */
    --red2: #ffe7e2;
    --red3: #ff644a;

    --yellow1: #ffd422;
    --yellow2: #fff5cb;

    /* == Typographie == */
    --text8: 8px;
    --text8LineHeight: 12px;
    --text10: 10px;
    --text10LineHeight: 14px;
    --text11: 11px;
    --text11LineHeight: 15px;
    --text12: 12px;
    --text12LineHeight: 18px;
    --text13: 13px;
    --text13LineHeight: 20px;
    --text14: 14px;
    --text14LineHeight: 22px;
    --text16: 16px;
    --text16LineHeight: 24px;
    --text18: 18px;
    --text18LineHeight: 28px;
    --text24: 24px;
    --text24LineHeight: 36px;
    --text32: 32px;
    --text32LineHeight: 48px;
    --text48: 48px;
    --text48LineHeight: 64px;

    /* == Espacements == */
    --space1: 4px;
    --space2: calc(var(--space1) * 2);
    --space3: calc(var(--space1) * 3);
    --space4: calc(var(--space1) * 4);
    --space5: calc(var(--space1) * 5);
    --space6: calc(var(--space1) * 6);
    --space7: calc(var(--space1) * 7);
    --space8: calc(var(--space1) * 8);
    --space9: calc(var(--space1) * 9);
    --space10: calc(var(--space1) * 10);
    --space11: calc(var(--space1) * 11);
    --space12: calc(var(--space1) * 12);
    --space13: calc(var(--space1) * 13);
    --space14: calc(var(--space1) * 14);
    --space15: calc(var(--space1) * 15);
    --space16: calc(var(--space1) * 16);

    /* couleurs provenant de zorro */
    --zorroBorderColor: #d9d9d9;
    --zorroButtonBackground: #fafafa;
    --zorroInputDisabledBackground: #f5f5f5;

    /* == Générale == */
    --fontFamilyBase: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    --fontFamilyCondensed: 'Roboto Condensed', sans-serif;
    --fontColorBase: var(--neutral3);
    --fontSizeBase: 14px; /* à synchroniser avec ng-zorro-conf.less */
    --lineHeightBase: 1.5715; /* à synchroniser avec ng-zorro-conf.less */

    --appBackgroundColor: var(--neutral7);

    --contentPaddingX: var(--space6);
    --contentPaddingY: var(--space6);

    /* == z indexes == */
    /* en dessous du cdk */
    --zIndexHeader: 999;
    --zIndexListAdd: 999;
    --zIndexNav: 999;
    /* en dessous de la nav  */
    --zIndexPageHeaderFixed: 998;
    --zIndexactionBar: 998;

    /* == Composants == */
    --linkPrimaryColor: var(--link);
    --linkPrimaryHoverColor: var(--primary3);
    --linkSecondaryColor: var(--neutral4);
    --linkSecondaryHoverColor: var(--primary3);
    --linkTertiaryColor: var(--blue1);
    --linkTertiaryHoverColor: var(--primary3);

    --tileGrayedColor: var(--neutral4);
    --tileGrayedBackground: var(--gray1);

    /* ces 6 variables son à supprimer lors de la réalisation de l'US 2965 https://ymag-dev.visualstudio.com/Arya/_workitems/edit/2965 */
    --tileDashboardDevisBrouillonColor: var(--gray2);
    --tileDashboardDevisBrouillonBackground: #828f94;
    --tileDashboardDevisEnvoyeColor: var(--gray2);
    --tileDashboardDevisEnvoyeBackground: #19b8d2;
    --tileDashboardDevisAccepteColor: var(--gray2);
    --tileDashboardDevisAccepteBackground: #4bb93e;

    --tileListGutter: var(--space6);
}
