html {
    /* == Palette de couleurs == */
    --white : #FFF;

    --greyHeader : #707070;
    --grey1 : #747474;
    --grey2 : #F2F2F2;
    --greyLabel : #848484;
    --grey3 : #B9B9B9;
    --grey4 : #CCCCCC;
    --grey5 : #B9B9B9;
    --greyBorder : #ECECEC;
    --grey7 : #C7C7C7;

    --greyText : #787878;
    
    --orange : #F65F08;

    --red : #F00;
    --pink : #FF5A65;

    --blue1 : #4B5AE5;
    --blue2 : #4E8FFF;

    --marron1 : #A24611;
    --marron2 : #C26F2F;

    --green1 : #06BE00;
    --green2 : #72D600;

    /* == Typographie == */
    --text22 : 22px;
    --text25 : 25px;
    --text28 : 28px;
    --text32 : 32px;
    --text38 : 38px;
    --text42 : 42px;
    --text46 : 46px;
}

.buttonBack {
    display: block;
    width: 144px;
    height: auto;
    background-color: var(--white);
    border: var(--greyHeader) solid 1px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    font-size: 32px;
    font-family: 'Roboto';
    color: var(--marron2);
    justify-content: center;
    cursor: pointer;
}

.form {
    display: block;
    align-items:center;
    justify-content:center;
    margin: 20px auto;
}

.labelForm {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 46px;
    color: var(--greyLabel);
    margin-right: auto;
    width: 30%;
    text-align: right;
}

.inputForm {
    display: inline-block;
    width: 615px;
    height: 75px;
    border: none;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.16);
    padding-left: 25px;
    font-size: 38px;
    color: var(--grey1);
}

.inputForm::placeholder {
    color: var(--grey4);
    font-family: 'Roboto';
    font-size: 38px;
}

.labelForm + .inputForm {
    width: 30%;
    margin: 0 0 50px 150px;
}


.inputForm:focus,
.buttonBack:focus,
.buttonSave:focus,
.buttonCancel:focus
 {
    outline: none;
}

.buttonSave {
    display: block;
    width: 326px;
    height: auto;
    background-color: var(--green2);
    border: none;
    text-align: center;
    padding: 5px 112px;
    font-size: 42px;
    font-family: 'Roboto';
    color: var(--white);
    justify-content: center;
    cursor: pointer;
}

.buttonCancel {
    display: block;
    width: 326px;
    height: auto;
    background-color: var(--pink);
    border: none;
    text-align: center;
    padding: 5px 84px;
    font-size: 42px;
    font-family: 'Roboto';
    color: var(--white);
    justify-content: center;
    cursor: pointer;
}

.buttonAdd {
    display: block;
    width: 326px;
    height: auto;
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 5px 78px;
    font-size: 38px;
    font-family: 'Roboto';
    color: var(--white);
    justify-content: center;
    cursor: pointer;
}

.cardUser {
    display: block;
    background-color: var(--marron2);
    border-radius: 15px;
    box-shadow: 0 21px 23px rgba(0, 0, 0, 0.16);
    width: 326px;
    height: 326px;
    text-align: center;
    font-family: 'Roboto';
    color: white;
}

.cardUser img {
    width: 127px;
}

.cardUser p {
    font-size: 28px;
}

.cardUser h2 {
    font-size: 32px;
}

.cardUser img,p,h2 {
    display: block;
    justify-content: center;
}

