<div class="menu-header">
  <img
    fxLayout
    fxLayoutAlign="center center"
    src="../../../../../assets/illustration/logos/logo_texte_madera.png"
  />
  <div class="item-header">
    <nav>
      <ul>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Personnels</a>
        </li>
        <li>
          <a href="#">Tickets</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
